<div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="pull-left">Parttime</h4>
            <div class="pull-right">
                <a href="#CreateParttime" class="btn btn-default" id="Create" role="button" title="Add New Parttime" style="margin-right: 5px">
                    <i class="glyphicon glyphicon glyphicon-user"></i>
                </a>

                <a href="#Card" class="btn btn-info" ng-class="{active:$ctrl.viewType=='card'}" role="button" title="Card View">
                     <i class="glyphicon glyphicon-th-large"></i>
                </a>

                <a href='#List' class="btn btn-info" ng-class="{active:$ctrl.viewType=='list'}" role="button" title="List View">
                     <i class="glyphicon glyphicon-list-alt"></i>
                </a>

            </div>
        </div>
        
    </div>

    <div ng-switch="$ctrl.viewType">
        <div ng-switch-when="card">
                <card-view></card-view> 
        </div>
        <div ng-switch-when="list">
                <list-view></list-view>
        </div>
        <div ng-switch-when="create">
                <create></create>
        </div>
        <div ng-switch-default>
            <list-view></list-view>
        </div>
    </div>






















<!-- <p><i>You can see edit,delete,update parttime workers</i></p>
        <form ng-submit="addNew()">

        <body>

                <p><strong>Click on button to view users</strong></p> 
                <div id = "container" > 
                
               <div id="records"></div> 
               <p>
                   <input type=”button” id = "getusers" value = "Get Users" />
               </p>

               
    <h2>Add New</h2>
    <form ng-submit="add(parttime)">
        Id: <input type="number" ng-model="newPartTime.id" />
 
        First Name: <input type="text" ng-model="newPartTime.firstname" />
 
        Last Name: <input type="text" ng-model="newPartTime.lastname" />

        Email: <input type="text" ng-model="newPartTime.email" />

        WorkFrom <input type="text" ng-model="newPartTime.workfrom" />
 
        <button type="submit">Submit</button>

    
    </form>
               
               </div> 
                <tr>
                        <td align="right">Search :</td>
                        <td><input ng-model="query[queryBy]" /></td>
                    </tr>           
                    <tr>
                        <td align="right">Search By :</td>
                        <td>
                            <select ng-model="queryBy">
                                <option value="$"></option>
                                <option value="id">id</option>
                                <option value="firstname">firstname</option>
                                <option value="lastname">lastname</option>
                                <option value="email">email</option>
                                <option value="workfrom">workfrom</option>
                            </select>   
                        </td>
                    </tr>

                        <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                                                <th>Id</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>WorkFrom</th>
                                
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="parttime in parttimeList | filter:query ">
                                                <td>
                                                    <input type="checkbox" ng-model="parttime.selected"/></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="parttime.id" required/></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="parttime.firstname" required/></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="parttime.lastname" required/></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="parttime.email" required/></td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="parttime.workfrom" required/></td>
                                        </tr>
                                
                                    </table>
                                    <div class="form-group">
                                            <input ng-click="remove(id) ; alarm('do you want delete a parttime ?')" class="btn btn-danger pull-right"  value="Remove">
                                            <input type="submit" ng-click="alarm('do you want create a new parttime ?')" class="btn btn-primary addnew pull-right" value="Add New">

                                        </div>
                                 
                                    </form>     
        </body> -->
</div>