<table class="table table-striped panel-body" id="sort">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Workfrom</td>
        </tr>
        </the<ad>
    <tbody>
        <tr ng-repeat="parttime in parttimeList">
            <td>
                {{parttime.id}}
            </td>
            <td>
                {{parttime.firstname}}
            </td>
            <td>
                {{parttime.lastname}}
            </td>
            <td>
                {{parttime.email}}
            </td>
            <td>
                {{parttime.workfrom}}
            </td>
            <td>
                <button class="btn btn-default btn-sm open-dialog pull-right" type="button" ng-click="confirmationDialog(parttime)"
                    title="Delete parttime"> <i class="glyphicon glyphicon-trash"></i>
                </button>
                <button type="button" class="btn btn-sm btn-default pull-right" style="margin-left: 2px" ng-submit="editParttime(parttime)" data-toggle="modal"
                    data-target="#myModal" title="Edit parttime">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
                
            </td>
        </tr>
    </tbody>
</table>


<div id="confirmation-dialog">
    <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="span5">{{confirmationDialogConfig.message}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                    <button type="button" ng-repeat="button in confirmationDialogConfig.buttons" ng-click="delete(parttime)"
                        class="btn btn-primary">{{button.label}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<form ng-submit="update(parttime)">
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Parttime for {{parttime.firstname}}
                        {{parttime.lastname}}</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Name:</label>
                                <input type="text" class="form-control" ng-model="parttime.firstname">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Lastname:</label>
                                <input type="text" class="form-control" ng-model="parttime.lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group col-md-6">
                                <label>Email:</label>
                                <input type="text" class="form-control" ng-model="parttime.email">
                            </div>
                            <div class="form-group col-md-6">
                                <label>WorkFrom:</label>
                                <input type="text" class="form-control" ng-model="parttime.workfrom">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group col-md-6">
                                <label>ID:</label>
                                <input type="text" class="form-control" ng-model="parttime.id">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="submit" class="btn btn-primary btn-sm" ng-show="submit" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        </div>
    </div>
</form>